{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
    <form class="form-signin shadow p-3 mb-5 bg-body rounded"
          action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        <h2 class="text-center">{{ _fsdomain('Register') }}</h2>
        {{ register_user_form.hidden_tag() }}
        {{ render_field_with_errors(register_user_form.username, class="form-control") }}
        {{ render_field_with_errors(register_user_form.email, class="form-control") }}
        {{ render_field_with_errors(register_user_form.password, class="form-control") }}
        {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm, class="form-control") }}
        {% endif %}
        {{ render_field(register_user_form.submit, class="btn btn-primary") }}
        {% include "security/_messages.html" %}
    </form>
    <div class="d-flex justify-content-center">{% include "security/_menu.html" %}</div>
{% endblock %}
