{% if page.pages > 1 %}
    {% if not params %}{% set params = {} %}{% endif %}
    <div aria-label="Page navigation">
        <ul class="pagination">
            {% if not page.has_prev %}
                <li class="page-item {{ prev }}">
                    <a class="page-link" href="{{ url_for(request.endpoint, page=page.prev_num, **params) }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a></li>
            {% endif %}
            {% for page_num in range(1,page.pages + 1) %}
                {% if page.page - 3 < page_num < page.page + 3 %}
                    <li class="page-item {% if page_num == page.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for(request.endpoint, page=page_num, **params) }}">
                            {{ page_num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
                <li class="page-item {{ next }}">
                    <a class="page-link" href="{{ url_for(request.endpoint, page=page.next_num, **params) }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}