{% set pills = {_("Posts"):"Posts",  _("Comments"):"Comments"} %}
<div class="btn-group" role="group" aria-label="conten choise">
    {% for key, item in pills.items() %}
        {% if item == params["tab"] %}
            {% set  class_active = 'btn btn-primary active' %}
        {% else %}
            {% set  class_active = 'btn btn-outline-secondary' %}
        {% endif %}
        {% set temp = params["tab"] %}
        {% set _t = params.update({"tab":item}) %}
        <a href="{{ url_for(request.endpoint, page=1, **params) }}">
            <button type="button" class="{{ class_active }}">{{ key }}</button>
        </a>
        {% set _t = params.update({"tab":temp}) %}
    {% endfor %}
</div>