{% extends "base.html" %}

{% block content %}
    {% for post in page.items %}
        {% set post_href = url_for("post", post_hash=post.hash_name) %}
        <article class="blog-post shadow p-3 mb-5 bg-body rounded"
                 onclick="window.location.href = '{{ post_href }}'">
            <a class="text-decoration-none link-dark" href="{{ post_href }}">
                <h2 class="blog-post-title">{{ post.title }}</h2>
            </a>
            <p class="blog-post-meta">{{ moment(post.created_at).calendar() }}
                {% set user_profile = post.user.username %}
                <a class="px-3"
                   href="{{ url_for('profile', username= post.user.username ) }}">{{ post.user.username }}</a>
            </p>
            <p>{{ post.body }}</p>
            {% set comments_couut = post.comments.all()|length %}
            <p class="blog-post-meta border-2 border-top">
                Комментариев: {{ comments_couut }}</p>
        </article>
    {% endfor %}
    {% include "_pagenation.html" %}
{% endblock %}