{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        {% set post_href = url_for("post", post_hash=post.hash_name) %}
        <article class="blog-post" onclick="window.location.href = '{{ post_href }}'">
            <a class="text-decoration-none link-dark" href="{{ post_href }}">
                <h2 class="blog-post-title">{{ post.title }}</h2>
            </a>
            {% set time =  post.created_at.strftime("%Y-%b-%d   %H:%M") %}
            <p class="blog-post-meta">{{ time }}
                {% set user_profile = post.user.username %}
                <a class="px-3"
                   href="{{ url_for('user', username= post.user.username ) }}">{{ post.user.username }}</a>
            </p>
            <p>{{ post.body }}</p>
            {% set comments_couut = post.comments.all()|length %}
            <p class="blog-post-meta border-secondary border-top border-1">
                Комментариев: {{ comments_couut }}</p>
        </article>
    {% endfor %}
    <div class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
    </div>
{% endblock %}