{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for("static", filename="js/blog.js") }}"></script>
    <div class="row">
        <div class="border border-3 p-2 mb-4">
            {% if avatar %}
                <img class="img-96 float-start me-2" src="data:;base64,{{ avatar }}"/>
            {% else %}
                <img class="float-start me-2" src="{{ user.avatar(96, user=user) }}">
            {% endif %}
            <p class="mb-2"><b>{{ user.username }}</b>
                <span class="ms-4"><i>last seen:</i> {{ user.last_login_at }}</span>
                {% if current_user.is_following(user) %}
                    {% set friendship = "bi-person-dash" %}
                    {% set color = "danger" %}
                {% else %}
                    {% set friendship = "bi-person-plus" %}
                    {% set color = "success" %}
                {% endif %}
                {% set full_url = url_for("subscribe", _external=True) %}
                <button id="friendship" type="button"
                        onclick="makeFriendship.call(this,'{{ full_url }}', '{{ user.username }}');"
                        class="btn btn-{{ color }} bi {{ friendship }} float-end" value="friends">
                </button>
            </p>
            <p class="mb-0">{{ user.about }} </p>


        </div>

        <div class="col-md-6">
            <b>Последние посты: </b>
            {% if user.posts.count %}
                <ul class="list-group"></ul>
                {% for post in user.posts.all() %}
                    <li class="list-group-item border-0">
                        <a class="link-secondary text-decoration-none"
                           href="{{ url_for("post", post_hash=post.hash_name) }}">
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-6">
            <b>Последние комментарии: </b>
            {% if user.comments.count %}
                <ul class="list-unstyled"></ul>
                {% for comment in user.comments.all() %}
                    <li class="list-group-item border-0">
                        <a class="text-decoration-none link-secondary"
                           href="{{ url_for("post", post_hash=comment.post.hash_name) }}">{{ comment.body }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}