{% set articles  = {
    _("New post"):{"icon":"bi-plus-lg","href":url_for("main.new_post")},
    _("Profile"): {"icon":"bi-person","href":url_for("main.profile", username=current_user.username)},
    _("Subscriptions"): {"icon":"bi-people-fill","href":url_for("main.subscriptions")},
    _("Exit"):{"icon":"bi-box-arrow-right","href":url_for_security("logout")},} %}


<div class="position-sticky shadow p-3 mb-5 bg-body rounded" style="top: 2rem;">
    {% block personalmenu %}
        {% if current_user.is_authenticated %}
            <div class="p-4">
                <ul class="list-group list-unstyled border-0">
                    {% for key in articles %}
                        <li class="list-group-flush">
                            <a class="link-secondary text-decoration-none" href="{{ articles[key]["href"] }}">
                                <i class={{ articles[key]["icon"] }}> </i>{{ key }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}
    {% block timeline %}
        <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
                <li><a href="#">March 2021</a></li>
                <li><a href="#">February 2021</a></li>
                <li><a href="#">January 2021</a></li>
                <li><a href="#">December 2020</a></li>
                <li><a href="#">November 2020</a></li>
                <li><a href="#">October 2020</a></li>
                <li><a href="#">September 2020</a></li>
                <li><a href="#">August 2020</a></li>
                <li><a href="#">July 2020</a></li>
                <li><a href="#">June 2020</a></li>
                <li><a href="#">May 2020</a></li>
                <li><a href="#">April 2020</a></li>
            </ol>
        </div>
    {% endblock %}
</div>