{% extends "base.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
    <article class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p>{{ post.body }}</p>

        <ul class="list-group">
            {% for comment in page.items %}
                <li class="list-group-item border-0">
                    <p>
                        <img class="inline-img" src="{{ comment.user.avatar(user=comment.user) }}"
                             alt="{{ comment.user.username }}">
                        <b class="me-3">{{ comment.user.username }}</b>{{ moment(comment.created_at).calendar() }}
                    </p>
                    <p class="border-bottom border-3 mb-2">{{ comment.body }}</p>
                </li>
            {% endfor %}
        </ul>
        {% include "_pagenation.html" %}
        {% if current_user.is_authenticated %}
            <form class="form-row" action="" method="POST">
                {{ add_comment_form.hidden_tag() }}
                {{ render_field_with_errors(add_comment_form.comment, class="form-control") }}
                {{ render_field(add_comment_form.button ,class="btn btn-lg btn-primary") }}
            </form>
        {% endif %}
    </article>
{% endblock %}